body, html {
  height: 100%;
  cursor: pointer;
  overflow-y: hidden;
}

.header {
    font-family: harlow solid italic;
  font-size:60px;
  text-align:center;

  
}

 .wrapper {
  position:fixed;
  background-color:grey;
  height:100%;
  width:100%;
  left:0;
  right:0;
}
.button {
  position:fixed;
  width:100px;
  height:100px;
  margin: auto auto;
  margin-top: 50vh;  
  border-radius:100%;
  opacity:1;
  background-color:black;
  left: 45%;
  top: 1%;
  font-family: harlow solid italic;
  font-size:40px;
  color: white;  
  line-height:100px;
  z-index:11;

}

.button:hover .Bcircle {
  animation-play-state: paused;
}

.Bcircle {
  width:100px;
  height:100px;
  margin: auto auto;
  margin-top: 50vh;  
  border-radius:100%;
  opacity:1;
  z-index:1;
  pointer-events: none;
}

.red {
  position: fixed;
  background-color: red;
  animation: redA 2s infinite;
  left: 45%;
  top: 1%;
  z-index:1;
}
.blue {
  position: fixed;
  background-color: blue;
  animation: blueA 2s infinite;
  left: 45%;
  top: 1%;
  z-index:1;
}
.green {
  position: fixed;
  background-color: green;
  animation: greenA 2s infinite;
  left: 45%;
  top: 1%;
  z-index:1;
}
.orange {
  position: fixed;
  background-color: orange;
  animation: orangeA 2s infinite;
  left: 45%;
  top: 1%;
  z-index:1;
}


@keyframes redA {
  from {opacity; top; left;}
  to {opacity:.2; top:20%; left:30%;}
}
@keyframes blueA {
  from {opacity; top; left;}
  to {opacity:.2; top:-20%; left:60%;}
}
@keyframes greenA {
  from {opacity; top; left;}
  to {opacity:.2; top:20%; left:60%;}
}
@keyframes orangeA {
  from {opacity; top; left;}
  to {opacity:.2; top:-20%; left:30%;}
}
