body, html {
  font-family:Rockwell;
  background-color:maroon;
  text-decoration:none;
  overflow-x:hidden;

}

div.pagewidth {
  display:block;
  height:100vh;
  overflow:hidden;
}

.name {
  font-size:40px;
  margin-top:5%;
}

.quest {
   padding-top:1%;
  padding-bottom:2%;
  font-size:20px;
  text-align:right;
}


a, a:hover, a:active, a:focus {
  color:white;  
  outline:0;
  text-decoration:none;
}

.panelLeft {
  position:fixed;
  height:100%;
  z-index:1;
  
  width:17%;  
  top:0;
  margin-top:30px; 
  padding-right:1%;
  padding-top:1%;

  left:-7.5%;
  
  background-color:grey;
  
  text-align:right;
  color:black;
  font-size:20px;
  border-radius:10px;
  box-shadow: 3px 3px 5px 0px black;

}

.panelLeft:hover .buttonL{
	left:35%;
}

.panelRight {
  position:fixed;
  height:100%;
  z-index:1;
    
  width: 17%;
  top:0;
  margin-top:30px;
  right:-6.5%;
  padding-left:1%;
  padding-top:1%;


  
  background-color:grey;
  
  text-align:left;
  color:black;
  font-size:20px;
  border-radius:10px;
  box-shadow: -3px 3px 5px 0px black;

}

.panelRight:hover .buttonR {
	right:4%;
}

.button {
  width:150px;
  height:75px;
  padding:0px;
  z-index:2;

  display:block;
  background:maroon;
  border-radius:10px;
  
  line-height:75px;
  text-decoration:none;
  color:white;
  text-align:center;
  

}

.button:hover {
   color:white;
   text-decoration:none;
   background-color:black;
}

.buttonL {
    position:relative;
	left:-1%;
	box-shadow: 3px 3px 5px 0px black;
}
.buttonR {
    position:relative;
	right:-42%;
	box-shadow: -3px 3px 5px 0px black;
}

.name {
  width: auto;
  margin:10px 10px;
  height: auto;
  padding: 10px;
  color: black;
}
#intro {
      background: url(https://cdn.rawgit.com/bmbaron/FilesForFreeCodeCamp/master/1614458_646285548760323_751417938_o.jpg);
  background-size:cover;
}  

.colored {
  color: white;
}

.pic {
  max-width:75%;
  max-height:75%;
  height: auto;
  width:200px;
  border: 5px solid black; 
}

img {
  box-shadow: 5px 5px 5px 0px black;
}
